html, body {
       	width: 100%;
	margin: 0%;
}

.container-fluid {
	background-image: url("/Users/deenaariff/dev/Personal-Website/Background.jpg");
	background-size: 100%;
    	background-repeat: no-repeat;
}

/* Header */




/* Body */

#Profile {
	text-align: center;
	color: #FFF2E7;
}

#Profile h1 {
	font-family:"Josefin Slab",arial,'sans serif'; 
	font-size: 5vw;
	color: #05395e;
}

#Menu {
	color: #FFF2E7;
	text-align: center;
}

#Summary {
	height: 40%;
	width: 40%;
	background-color: blue;
	opacity: 30%;
}

#Menu li {
	font-size: 2vw;
}

.container-fluid h1 {
	
}
