html, body {
       	width: 100%;
	margin: 0%;
}

.container-fluid {
	width: auto;
	height: auto;
}

/* Header */




/* Body */


#Profile {
	color: #FFF2E7;
	text-align: center;
	height: 100%;
	background-color: #000000;
}

#Profile h1 {
	font-family: Josefin Slab,'sans serif'; 
	font-size: 5vw;
	color: #ffffff;
}

#Profile h2 {
	font-family: Josefin Slab, 'sans serif';
	font-size: 2vw;
}

#Summary p {
	text-align: left;
	padding: 25px 25px;
}

#Menu {
	color: #FFF2E7;
	text-align: center;
}

#Summary {
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.button-slanted #Summary {
	background-color: rgba(114, 174, 214, 0.85);

}

#Menu li {
	font-size: 2vw;
}

.container-fluid h1 {
	
}

.button-slanted {
  	transform: skew(-20deg);
	height: auto;
	width: auto;
	padding: 5px 5px;
}

#Picture {
	background-image: url("/Users/deenaariff/dev/Personal-Website/Background_2.jpg");
	background-size: 100%;
    	background-repeat: no-repeat;
	height: auto;
	width: auto;

}
