html, body {
	height: 100%;
       	width: 100%;
}

/* Header */




/* Body */

#Profile {
	height: 100%;
	background-color: #FFF2E7;
	text-align: center;
}

#Profile h1 {
	font-family:"lucida calligraphy",arial,'sans serif'; 
	font-size: 5vw;
}

#Menu {
	height: 100%;
	background-color: #0d0020;
	color: #FFF2E7;
}

#Menu li {
	font-size: 2vw;
}

.container-fluid h1 {
	
}
