.home .body {
	width: 100%;
}

#header { 
	position: absolute;
}

#navbar {
	text-align: center;
	height: 100px;
	background-color: #34314C;
	color: #ffffff;
	font-family: 'Poiret One', cursive;
}

#navbar .col-xs-12 {
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	display:inline-block;
	font-size: 170%;
	text-align: center;
}


.btn{
	text-decoration:none;
	color:#333333;
	font-family: 'Poiret One', cursive;
	font-size:20px;
	font-weight:bold;
	line-height:32px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#ffffff;
}

.btn.red{
	background-color:#E53C38;
}

.btn.red:hover{
	background-color:#ea6360;
}

.btnHollow {
	 font-family: 'Poiret One', cursive;
     background:  rgba(255, 255, 255, 0.3);
     height:  50px;
     line-height:  40px;
     display:  inline-block;
     float:  none;
     text-align:  center;
     width:  200px;
     padding:  0px!important;
     margin-right: 0.5px;
     margin-left: 0.5px;
     font-size:  20px;
     color:  #fff;
 }

.btnHollow:hover  {
     color:  #fff;
     text-decoration: none;
     background: #FF7260;
 }

#panel-header {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: center;
	font-family: 'Poiret One', cursive;
	background-color: #ffffff;
	color: #5E7583;
}


#panel-1 { 
	height: 850px;
	background-image: url(../images/sf.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 35vw;
	filter: grayscale(100%);
}

.profile-info {
	display: inline-block;
	margin-top: 50px; 
	height: 50%;
}

#profile #title {
	display: inline-block;
	float:left;
}

#profile {
	width: 50%;
	text-align: right;
	padding-right:  10px;
}

#profile img {
	border-radius: 50%;
	margin-top: 10%;
	width: 50%;
	height: auto;
}

#title1 {
	width: 50%;
	padding-left: 10px;
}

#title1 h1 {
	margin-top: 20%;
	font-family: 'Poiret One', cursive;
	font-size: 60px;
	color: 34314C;
}

#title1 p {
	font-family: 'Poiret One', cursive;
	font-size: 30x;
	color: 802B32;
}

#buttons {
	margin-top: 10%;
}

#buttons li {
	list-style-type: none;
	display: inline-block;;

}
#panel-2 {
	height: 850px;
	background-image: url(../images/ape.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 60vw;
}


#panel-2 h1{
	color: #ffffff;	
	font-size: 400%;
}

#switcher2 {
	height: 20%;
	text-align: center;
}

#switcher2 li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

#content2 {
	background:  rgba(255, 255, 255, 0.3);
	height: 70%;
}



#panel-3 {
	height: 850px;
	background-image: url(../images/book.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 60vw;
}

#panel-3 h1{
	color: #ffffff;	
	font-size: 400%;
}
