/*------------------------------

Yellow: #FFC107;

-------------------------------*/

@font-face {
    url('../fonts/Chelsea.ttf')  format('truetype'), 
    font-family: 'Burner';
}

@font-face {
    src: url('../fonts/Gotham-Bold.otf');
    font-family: Gotham-Bold;
}

@font-face {
    src: url('../fonts/Gotham-Light.otf');
    font-family: Gotham-Light;
}

html {  
}

::selection {
  background: #fff; /* WebKit/Blink Browsers */
}


body {
	background: #fff;
	font-family: Gotham-Light;
}

.ng-enter, .ng-move{
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.ng-leave{
	-webkit-animation: fadeOut 1s;
	-moz-animation: fadeOut 1s;
	-o-animation: fadeOut 1s;
	animation: fadeOut 1s;
}

.main {
	width: 100%;
	height: auto;
}

/*------------------------------

HEADER

-------------------------------*/

#panel-header{
	height: 10%;
	display: block;
	background-color: #009688;
	text-align: center;
	color: #fff;
	font-size: 0.4em;
}

/*------------------------------

NAVBAR

-------------------------------*/

.nav {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: #FFC107;
	text-align: center;
}

.nav.resume {
	position: fixed;
	z-index: 5;
	width: 100%;
	min-height: 100%;
	height: auto;
	background: #FFC107;
	text-align: center;
	overflow: scroll;
}


.nav h1 {
	font-size: 2.2em;
}

.nav li {
	display: block;
	font-size: 1.1em;
}

.nav i {
	margin: 2%;
	color: #009688;
}

.nav i:hover {
	color: #00796B;
}


.nav a {
	display: block;
	font-size: 1.1em;
	text-decoration: none;
}

.nav a {
	color: #009688;
}

.nav a:hover {
	color: #00796B;
}

.navbutton {
	position: fixed;
	z-index: 4;
}

i {
	margin: 50%;
	color: #FFC107;
}

i:hover {
	color: #00796B;
}


/*------------------------------

RESUME

-------------------------------*/



/*------------------------------

INTRO - LANDING

-------------------------------*/

#intro-info { 
    text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background: background: -webkit-linear-gradient(left, #7b4397 , #dc2430); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #7b4397 , #dc2430); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #7b4397 , #dc2430); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #7b4397 , #dc2430); /* Standard syntax */;
	height: auto;
	display: block;
    padding-top: 7%;
    padding-bottom: 2%;
	filter: grayscale(100%);
}
#intro-info img {
	border-radius: 60%;
	border: 3px solid #fff;
	width: 40%;
	height: auto;
	text-align: center;
}

#intro-info h1 {
	font-size: 4em;
	color: #fff;
	display: block;
	padding: 1%;
}

#intro-info #about h1 {
	font-size: 3em;
	color: #FFC107;
	display: block;
	font-family: Gotham-Bold;
	padding: 1%;
}

#intro-info p {
	color: #fff;
	font-size: 2.1em;
}

#intro-info a {
	font-size: 2em;
	color: #fff;
	display: inline-block;
	list-style: none;
	padding: 0.5%;
}

#intro-info a:hover {
	text-decoration: none;
	color: #fff;
	font-size: 2.2em;
}


#buttons img {
	text-align: center;

}

#about p {
	font-size: 1.2em;
	text-align: justify;
	padding: 5%;
}

#about button {
	outline: none;
	border: 1px solid #FFC107;
	background: none;
	color: #fff;
	font-size: 1.4em;
	padding: 2px;
}

.landing {
	padding-top: 5%;
}

.landing ul {
}

#intro-info ul {
 		display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
}

.landing .button {
	margin-left: 100%;
	margin-right: 100%;
}

.landing i {
	margin: 5%;
	color: #FFC107;
}

.landing h2 {
	font-size: 1.5em;
	color: #fff;
}

.landing i:hover {
	color: #00796B;
}



/*------------------------------

PANEL 1 - PROJECTS

-------------------------------*/

#panel-1 {
    background: #fff; 
    padding-top: 1%;
	padding-bottom: 1%;;
    display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
	min-height: 48vw;
}

#panel-1.ng-show-add {
    -webkit-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
    display: block !important;
}

#panel-1 p {
	font-size: 1.2em;
	text-align: justify;
	padding: 5%;
	color: #7b4397;
}

#panel-1 h1 {
	color: #7b4397;
}

#project h1 {
	color: #7b4397;
	text-align: center;
	font-family: Gotham-Bold;
}

#title1 {
	text-align: center;
	color: #fff;
	font-size: 0.4em;
}

#projectList {
	display: inline-block;
	height: 100%;
	background-size: 100%;
}

#projectList ul {
	margin-top: 10%;
	width: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	margin-bottom: 10%;
	display: table;
	vertical-align: middle;
	color: #7b4397;
}

#projectList h1 {
	color: #7b4397;
	text-align: center;
}

#projects h1 {
	color: #fff;
	text-align: center;
}

#projects {
	background: -webkit-linear-gradient(#B43059, #136a8a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B43059, #136a8a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B43059, #136a8a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B43059, #136a8a); /* Standard syntax */
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: auto;
	color: #fff;
	margin-bottom: auto;
}

#projects p {
	color: #fff;
}

#projects img {
	text-align: center; 
	max-height: 250px;
	margin: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	max-width: 500px;
	display:block;
    margin:auto;
    border: 2px #000;
}

#projectList li {
	display: block;
	color: #00796B;
	font-size: 1.8em;
}

#projectList button {
	background: none;
	border: none;
	outline: none;
}

#projectList li:hover  {
	color: #009688;
}

#projectList li:focus {
	color: #FFC107;
	border-top: 1px solid #607D8B;
	border-bottom: 1px solid #607D8B;
}

#description {
	background: #F4F4F4;
	height: 100%;
}


/*---------------------------

PANEL 2  - DESIGNS 

----------------------------- */

#panel-2 {
	display: block;
	background: #fff;
	height: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

#panel-2 p {
	font-size: 1.2em;
	text-align: justify;
	padding: 5%;
	color: #136a8a;
}

#panel-2 h1{
	color: #136a8a;	
	font-size: 400%;
	text-align: center;
}

#switcher2 {
	height: 20%;
	text-align: center;
}

#switcher2 li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

#content2 {
	height: 100%;
    width: 100%;
}

#design {
	height: 100%;
}

#panel-2 #design img { 
	max-width: 80%;
	max-height: 400px; 
	height: auto;
	display: block;
	margin: auto;
	margin-top: 3%;
	vertical-align: middle;
	text-align: center;
}

#panel-2 #design h1 { 
	margin-top: 5%;
	font-size: 2em;
	color: #136a8a;
}

#panel-2 ul {
	height: 100%;
	width: 100%;
}

#panel-2 ul button {
	display: inline-block;
	vertical-align: middle;
}

#panel-2 ul div {
	display: inline-block;
}

#panel-2 button {
	color: #136a8a;
	font-size: 1.2em;
	border: #136a8a 1px solid;
	background: none;
	display:block;
    margin:auto;
    margin-bottom: 20px;
}

#panel-2 button:hover {
	background: #136a8a;
	color: #fff;
}

#panel-2 button:focus {
	outline: none;
}


/*---------------------------

PANEL 3 - CONTACT

----------------------------- */

#panel-3 {
	display: block;
    background-color: #009688;
	/*background-image: url(../images/book.jpeg);*/
	height: auto;
}

#panel-3 ul {
	text-align: center;
	vertical-align: middle;
}

#panel-3 i {
	margin: 4%;
	display: inline-block;
}


#panel-3 h1{
	color: #ffffff;	
	font-size: 400%;
}


