html {
   
}

::selection {
  background: #FD334F; /* WebKit/Blink Browsers */
}

body {
}

@font-face {
        url('../fonts/Chelsea.ttf')  format('truetype'), 
        font-family: 'Burner';
}

#navbar {
	text-align: center;
	height: 80px;
	background-color: #fff; 
	color: #1A1A1A;
    position: fixed;
    z-index: 100;
    display: inline-block;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

#navbar button {
	background:  #fff;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
    height: 100%;
    color: #1A1A1A;
    border: none;
}

#navbar img {
	height: 90px;
}

#navbar button:hover {
    background-color: #fff;
    color: #FD334F;
}

#navbar button:focus {
    outline: 0;
}

#navbar #login {
	background-color: #1CAC78;
	color: #fff;
}

#navbar #login:hover {
	background-color: #000000;
	color: #fff;
}

.btnHollow {
	 font-family: 'Poiret One', cursive;
	 background: #FD334F;
     height:  40px;
     line-height:  40px;
     display:  inline-block;
     float:  none;
     text-align:  center;
     width:  160px;
     padding:  0px!important;
     margin-right: 0.5px;
     margin-left: 0.5px;
     font-size:  20px;
     color:  #fff;
 }

.btnHollow:hover  {
     color:  #fff;
     text-decoration: none;
     background:  rgba(255, 255, 255, 0.8);
 }

#panel-header {
	text-align: center;
	background-color: #F4F4F4;
	color: #1A1A1A;
    height: 7vw;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
    height: auto;
}


#intro-info { 
    text-align: center;
	height: 850px;
    background: #1A1A1A;
	/*background-image: url(../images/sf.jpeg);*/
	background-repeat: no-repeat;
	background-size: 100%;
	height: 60vw;
    padding-top: 8%;
	filter: grayscale(100%);
	font-family: 'Poiret One', cursive;
}

.hello {
	display: block;
}

#intro-info img {
	margin-top: 12%;
	border-radius: 60%;
	border: 3px solid #1A2129;
	width: 40%;
	height: auto;
	text-align: center;
}

#intro-info h1 {
	font-size: 4em;
	color: #fff;
	display: block;
	padding: 1%;
}

#intro-info p {
	color: #efefef;
	font-size: 2.5em;
}

#intro-info a {
	font-size: 2em;
	color: #fff;
	display: inline-block;
	list-style: none;
	padding: 0.5%;
}

#intro-info a:hover {
	text-decoration: none;
	color: #FD334F;
	font-size: 2.2em;
}


#buttons img {
	text-align: center;

}

#panel-1 {
	height: 850px; 
    background:  #F4F4F4;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 50vw;
}

#objects {
	display: inline-block;
	height: 100%;
	background-image: url('../images/bridge.jpg');
	background-repeat: none;
	background-size: 100%;
}

#objects ul {
	margin-top: 10%;
	width: 100%;
	height: 80%;
	margin-bottom: 10%;
}

#objects button {
	font-family: 'Poiret One', cursive;
	width: 60%;
	font-size: 1.5em;
	background: #FD334F;
	color: #fff;
	text-align: center;
	box-shadow: none;
	padding: 0;
	border: none;

}

#objects button:hover {
	color: #fff;
    background: #FD334F;
}

#panel-header{
	height: 10%;
	display: inline-block;
	background-color: #FD334F;	
}

#panel-header {
	color: #fff;
	font-size: 0.4em;
}

#title1 {
	
}

#description {
	background: #F4F4F4;
	height: 100%;
}

#panel-2 {
	height: 850px;
	background: #1A1A1A;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 48vw;
}


#panel-2 h1{
	color: #ffffff;	
	font-size: 400%;
}

#switcher2 {
	height: 20%;
	text-align: center;
}

#switcher2 li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

#content2 {
	height: 100%;
    width: 100%
}

#panel-3 {
	height: 850px;
    background: #F1F1F1;
	/*background-image: url(../images/book.jpeg);*/
	background-repeat: no-repeat;
	background-size: 100%;
	height: 40vw;
}

#panel-3 h1{
	color: #ffffff;	
	font-size: 400%;
}
