.home .body {
	width: 100%;
	display: inline-block;
	background-color: #000000;
}

.head .header #navbar {
	height: 200px;
	background-color: solid red;
}

h1 {
	opacity: 80%;
}

#panel-1 { 
	height: 850px;
	background-image: url(../images/sf.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 65vw;
}

.logo {
	height: 80%;
}

#profile #profile-info {
	
}

#log img,h2,p{
	display: inline;
	float: left;
}

#logo h2, p {
	color: #ffffff;
}

#logo img {
	border-radius: 50%;
	width: 30%;
	height: auto;
}

#panel-2 {
	height: 850px;
	background-image: url(../images/ape.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 65vw;
}


#panel-2 h1{
	color: #ffffff;	
	font-size: 400%;
}

#panel-3 {
	height: 850px;
	background-image: url(../images/book.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 65vw;
	height: 65vw
}

#panel-3 h1{
	color: #ffffff;	
	font-size: 400%;
}
